
@{
    ViewBag.Title = "Education";
}
<center>


    <h2>Educational Qualifications</h2>
</center>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Degree Name</th>
            <th scope="col">Institute</th>
            <th scope="col">GPA/CGPA</th>
            <th scope="col">Year</th>
            <th scope="col">Group</th>
        </tr>
    </thead>
    <tbody>
     
 
        <tr class="table-primary">
            <th scope="row">HSC</th>
            <td>Birshreshtha Munshi Abdur Rouf Public College</td>
            <td>4.33</td>
            <td>2019</td>
            <td>Science</td>

        </tr>
        <tr class="table-secondary">
            <th scope="row">SSC</th>
            <td>NKM High School And Homes</td>
            <td>5.00</td>
            <td>2017</td>
            <td>Science</td>
        </tr>
 
        <tr class="table-light">
            <th scope="row">BSc.</th>
            <td>American International University Bangladesh</td>
            <td>3.89</td>
            <td>2023</td>
            <td>CSE</td>
        </tr>
    </tbody>
</table>

