
@{
    ViewBag.Title = "Projects";
}

<center><h2>Projects</h2></center>
<div class="card" bis_skin_checked="1">
    <div class="card-body" bis_skin_checked="1">
        <h4 class="card-title">OPP 01</h4>
        <h6 class="card-subtitle mb-2 text-muted">Bank Management System</h6>
        <p class="card-text">A Bank Management System using files . User can account,can deposit money, transfer money and withdraw money.</p>

    </div>
</div>
<br />
<div class="card" bis_skin_checked="1">
    <div class="card-body" bis_skin_checked="1">
        <h4 class="card-title">OPP 02</h4>
        <h6 class="card-subtitle mb-2 text-muted">Tree Plantation Donation System</h6>
        <p class="card-text">This is a tree plantation system which plants trees from the money donateed by the users. There are varoius management chatagories in this project.</p>

    </div>
</div>
<br />

