
@{
    ViewBag.Title = "Home";
}
<head>
    <link href="@Url.Content("~/Content/StyleSheet1.css")" rel="stylesheet" />
</head>
<center>
    <br />
    <br />
    <img class="circular--square" width="260px" height="280px" src="@Url.Content("~/Content/Ratul.jpg")" />
    <br />
    <h2>Ratul Bhattacharjee</h2><br />
    <h4>ID: 19-41794-3</h4>
</center>