
@{
    ViewBag.Title = "Reference";
}
<center>


    <br />
    <br />

    <div class="card bg-light mb-3" style="max-width: 20rem;" bis_skin_checked="1">
        <div class="card-header" bis_skin_checked="1">Reference</div>
        <div class="card-body" bis_skin_checked="1">

            <h4 class="card-title">Dr. Manjurul Islam</h4>
            <p class="card-text">Assistant Prof. AIUB.</p>
            <p class="card-text">Email: manjurul@aiub.edu</p>
        </div>
    </div>
</center>